{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
{% endblock styles %}

{% block content %}
    
    {% include 'assets/status.html' %}

    <div class="row mt-5">
        <!-- CUSTOMERS -->
        <div class="col-md-5">
            <h5> Customers </h5>
            <hr>
            
            <div class="card card-body">
                <a href="#" class="btn btn-primary btn-sm btn-block"> Create Customer </a>
                <table class="table table-sm mt-3">
                    <tr>
                        <th></th>
                        <th> Customers </th>
                        <th> Orders </th>
                    </tr>
                </table>
            </div>
        </div>

        <!-- ORDERS -->
        <div class="col-md-7">
            <h5> Orders </h5>
            <hr>
            
            <div class="card card-body">
                <a href="#" class="btn btn-primary btn-sm btn-block"> Create Order </a>
                <table class="table table-sm mt-3">
                    <tr>
                        <th></th>
                        <th> Product </th>
                        <th> Date Ordered </th>
                        <th> Status </th>
                        <th> Update </th>
                        <th> Remove </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
